.pagination-container a {
  margin: 0 5px;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.pagination-container li {
  padding: 0;
}
