.img-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card {
  max-width: 1000px;
  margin: 50px auto;
}
.profile-card .content-l {
  width: 130px;
}
