.profile-card {
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.content-l {
  width: 150px;
}
.content-l h4,
.content-r h5 {
  margin-bottom: 0;
}
